.cproject
.project
.pydevproject
.settings/
bin
obj
project.properties
build_android
build
libs
.classpath
.pyc

/build-linux/
/build-win/
/Jupiter.sublime-project
/Jupiter.sublime-workspace

.idea
apps/Io/.idea
apps/Europe/.idea
apps/Painter/.idea
3rdparty/json
Download
/build_emscripten/

venv
env