.cproject
.project
.pydevproject
.settings/
bin
obj
project.properties
build_android
build
libs
.classpath
.pyc

/build-linux/
/build-win/
/Jupiter.sublime-project
/Jupiter.sublime-workspace

.idea
apps/Io/.idea
apps/Europe/.idea
apps/Painter/.idea
3rdparty/json
Download
/build_emscripten/

venv
env
samples/Box/Resources.png
samples/Box/Resources.atlas
samples/Box/Resources/atlas0.png
samples/Box/Resources/atlas0.json
build_directory/Box2D
/build_directory/
/build_mingw/
