[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/Ingener74/json.git
[submodule "3rdparty/android_cmake"]
	path = 3rdparty/android_cmake
	url = https://github.com/taka-no-me/android-cmake.git
[submodule "cmake/Toolchains/android-cmake"]
	path = cmake/Toolchains/android-cmake
	url = https://github.com/taka-no-me/android-cmake.git
