.cproject
.project
.pydevproject
.settings/
bin
obj
project.properties
libs
.classpath
.pyc

/Jupiter.sublime-project
/Jupiter.sublime-workspace

.idea
apps/Io/.idea
apps/Europe/.idea
apps/Painter/.idea
3rdparty/json
Download
/doc/blog/node_modules

venv
/doc/blog/bower_components
env
samples/Box/Resources.png
samples/Box/Resources.atlas
samples/Box/Resources/atlas0.png
samples/Box/Resources/atlas0.json
